@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}


header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 1px 10px 5px rgba(0, 0, 0, 0.568);
    height: 100px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    position: relative;
    padding-bottom: 10px;
    /* padding-top: 10px; */
}

header > img {
    border: 2px solid rgb(0, 0, 0);
    margin-right: 20px;
    margin-left: 2px;
    margin-bottom: 0px;
    margin-top: 25px;
    padding: 0px;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 80px;
    transition: 0.5s;
}

header > img:hover {
    border: 2px solid rgb(0, 0, 0);
    margin: 0px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 2px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding: 0px;
    width: 125px;
    height: 125px;
    background-color: white;
    border-radius: 80px;
    transition: 0.5s;
}

#logotipo {
    text-align: center;
    width: 300px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

header > div > h1{
    display: inline-flex;
    /* border: 1px solid blue; */
    color: rgb(255, 255, 255);
    /* margin: 0px; */
    /* width: 300px; */
}

header > div > h2 {
    display: block;
    width: 300px;
    color: rgb(255, 255, 255);
    /* border: 1px solid blue; */
    /* margin: 0px; */
    font-size: 1.2em;
}

nav {
    display: inline-flex;
    /* border: 1px solid rgb(1, 250, 22); */
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    margin-left: 100px;
    
}

nav > li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* list-style-type: none; */
    margin-left: 19px;
    padding: 0px;
    text-align: center;
}

nav > li > a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

#contato {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 195, 248);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 10px;
}

#contato:hover {
    background-color: rgb(135, 221, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px;
    margin-left: 100px;
}

nav > li > a:hover {
    color: rgb(59, 195, 248);
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

/* --------- INÃCIO DO PRINCIPAL ------------ */
main {
    height: 1000px;
    margin-top: -20px;
    padding-top: 0px;
    /* border: 10px solid black; */
}

main > section {
    border: 5px solid purple;
    height: 700px;
}

.cardPrincipal {
    border: 5px solid rgb(255, 0, 0);
    height: 600px;
}

footer {
    background-color: black;
    width: 100%;
    height: 200px;
}