@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}


header {
    /* border: 1px solid yellow; */
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 1px 10px 5px rgba(0, 0, 0, 0.568);
    height: 100px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    position: fixed;
    padding-bottom: 10px;
    padding-top: 40px;
}

header > a > img.logo {
    /* border: 2px solid black; */
    background-color: rgba(0, 0, 255, 0);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
    /* width: 120px; */
    height: 150px;
    /* background-color: white; */
    /* border-radius: 80px; */
    transition: 0.5s;
}

header > a > img.logo:hover {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
    transform: scale(1.1);
    border-radius: 80px;
    transition: 0.5s;
}

#logotipo {
    /* border: 1px solid blue;; */
    text-align: center;
    width: 300px;
    padding: 0px;
    margin: 0px;
    margin-right: 50px;
}

header > div > h2 {
    width: 300px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

nav {
    /* border: 1px solid rgb(1, 250, 22); */

    display: inline-flex;
    flex-wrap: wrap;
    height: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    margin-left: 20px;
    width: 815px;
}

nav > li {
    /* border: 1px solid red; */

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 0px;
    text-align: center;
}

nav > li > a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

#contato {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 195, 248);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;
}

#contato:hover {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(135, 221, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

nav > li > a:hover {
    color: rgb(59, 195, 248);
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

/* --------- INÃCIO DO PRINCIPAL ------------ */
main {
    width: 1920px;
    height: 1000px;
    margin-top: -20px;
    padding-top: 0px;
    /* border: 10px solid black; */
}

main > section {
    border: 5px solid purple;
    height: 800px;
}

.cardPrincipal {
    border: 5px solid rgb(255, 0, 0);
    width: 1920px;
    height: 850px;
}

footer {
    background-color: black;
    width: 100%;
    height: 200px;
}