@charset "UTF-8";

/* COR SECUNDARIA: #fad600 */
/* COR PRIMARIA: # */

* {
    padding: 0px;
    margin: 0px;
}


/* ABAIXO DE 1170px -> QUEBRA O MENU!! */

header {
    /* border: 1px solid yellow; */
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 1px 10px 5px rgba(0, 0, 0, 0.568);
    height: 100px;
    color: #fad600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    position: fixed;
    padding-bottom: 15px;
    padding-top: 40px;
}

header > a > img.logo {
    /* border: 2px solid black; */
    margin: 20px 20px 0px 20px;
    height: 150px;
    transition: 0.5s;
}

header > a > img.logo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#logotipo {
    /* border: 1px solid blue;; */
    text-align: center;
    width: 300px;
    margin-right: 50px;
}

header > div > h2 {
    width: 300px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

nav {
    /* border: 1px solid rgb(1, 250, 22); */
    display: inline-flex;
    flex-wrap: wrap;
    height: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

nav > li {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
    height: 5px;
    display: inline-flex;
    margin-left: 20px;
    padding-bottom: 20px;
    text-align: center;
}

nav > li > a {
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

#contato {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 195, 248);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 20px;
}

#contato:hover {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(135, 221, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

nav > li > a:hover {
    color: rgb(59, 195, 248);
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

/* --------- INÃCIO DO PRINCIPAL ------------ */
main {
    width: 1920px;
    height: 1000px;
    margin-top: -20px;
    padding-top: 0px;
    /* border: 10px solid black; */
}

main > .espacoVazio {
    height: 150px;
}

main > section {
    margin: 0px;
    padding: 0px;
    width: 100%-1;
    border: 1px solid purple;
    background-color: rgba(123, 123, 223, 0.575);
    height: 720px;
}


footer {
    background-color: black;
    width: 100%;
    height: 200px;
}